<!DOCTYPE html>
<html>
  <head>
    <title>Result</title>
  </head>
  <body>
  <h1>Bet Result</h1>

  <p><%= result_text %></p>
  <p>Total Wins: <%= totals[:wins] %></p>
  <p>Total Losses: <%= totals[:losses] %></p>
  
  <p><a href="/bet">Play Again</a></p>
  <p><a href="/logout">Logout</a></p>
  
  </body>
</html>
